<div class="al-main" ng-class="{'full': showAside}">
	<div class="al-content">

		<div class="content-top">
			<h1>Редактирование личного кабинета</h1>
			<ul class="breadcrumb al-breadcrumb">
				<li><a href="#">Главная Страница</a></li>
				<li>Редактирование личного кабинета</li>
			</ul>
		</div>

		<div class="panel">
			<div class="panel-body">
				<div class="panel-content">
					<h3 class="with-line no-padding">Данные для входа</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row clearfix">
								<label class="col-sm-3 control-label">Почта</label>
								<div class="col-sm-9">
									<input type="text" name="email" class="form-control" placeholder="Ваша почта">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group row clearfix">
								<label class="col-sm-3 control-label">Пароль</label>
								<div class="col-sm-9">
									<input type="password" name="pass" class="form-control" placeholder="Ваш пароль">
								</div>
							</div>
						</div>
					</div>


					<h3 class="with-line no-padding">Общая информация</h3>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group row clearfix">
								<label class="col-sm-3 control-label">Имя</label>
								<div class="col-sm-9">
									<input type="text" name="firstname" class="form-control" placeholder="Ваше имя">
								</div>
							</div>

							<div class="form-group row clearfix">
								<label class="col-sm-3 control-label">Фамилия</label>
								<div class="col-sm-9">
									<input type="text" name="lastname" class="form-control" placeholder="Вашa фамилия">
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group row clearfix">
								<label class="col-sm-3 control-label">Пол</label>
								<div class="col-sm-9">
									<label class="radio-inline custom-radio nowrap">
										<input type="radio" name="gender">
										<span>Мужской</span>
									</label>

									<label class="radio-inline custom-radio nowrap margin-left">
										<input type="radio" name="gender">
										<span>Женский</span>
									</label>
								</div>
							</div>

							<div class="form-group row clearfix">
								<label class="col-sm-3 control-label">Дата рождения</label>
								<div class="col-sm-9">
								<select name="birthday" class="select-control">
									<option value="day" disabled selected>День</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
									<option>22</option>
									<option>23</option>
									<option>24</option>
									<option>25</option>
									<option>26</option>
									<option>27</option>
									<option>28</option>
									<option>29</option>
									<option>30</option>
									<option>31</option>
								</select>


								<select name="month" class="select-control middle">
									<option value="Month" disabled selected>Месяц</option>
									<option>Jan</option>
									<option>Feb</option>
									<option>Mar</option>
									<option>Apr</option>
									<option>May</option>
									<option>Jun</option>
									<option>Jul</option>
									<option>Aug</option>
									<option>Sep</option>
									<option>Oct</option>
									<option>Nov</option>
									<option>Dec</option>
								</select>

								<select name="year" class="select-control big">
									<option value="Year" disabled selected>Год</option>
									<option>2000</option>
									<option>2001</option>
									<option>2002</option>
									<option>2003</option>
									<option>2004</option>
									<option>2005</option>
									<option>2006</option>
									<option>2007</option>
									<option>2008</option>
									<option>2009</option>
									<option>2010</option>
									<option>2011</option>
									<option>2012</option>
								</select>

								</div>
							</div>
							
								
							
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>