.submit_button{
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 600;
	background-color: #58B99D;
	font-family: 'Poppins', sans-serif;
	padding: 9px 20px 7px;
	position: relative;
	cursor: pointer;
	outline: none;
	color: #fff;
}
.filtration-button{
	border-radius: 2px;
	background: #dfb81c;
	color: #fff;
	padding: 5px 10px;
}
.add-button-container{
	width: 160px;
	margin: 0 auto;
}
.medium_button{
	line-height: 60px;
	font-size: 18px;
}
.button_main{
	line-height: 65px;
	font-size: 20px;
	padding: 15px 35px;
	border-radius: 30px 30px 30px 30px;
}
.submit_button span{
	color: #fff;
}
.submit_button:hover{
	transition: all .3s ease-in-out;
	background-color: #dfb81c;
}
.submit_button:hover span{
	transition: all .2s ease-in-out;
	color: #fff;
}
.submit_button_light{

	float: right;
	transition: all .2s ease-in-out;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	background-color: #d2973b;
	font-family: 'Poppins', sans-serif;
	padding: 9px 20px 7px;
	position: relative;
	cursor: pointer;
}
.submit_button_light:hover{
	transition: all .2s ease-in-out;
	background-color: #fff;
}
.submit_button_light:hover span{
	transition: all .2s ease-in-out;
	color: black;
}